{% extends "base.html" %}
 

{% block head %}
	 <a href="/settings/"> Settings </a>
	 <a href="/logout/">Log Out</a>
{% endblock %}
{% block style %}
.circle {
  border-radius: 50%;
}
{% endblock %}

{% block body %}
<br> 
<div class="row">
  <div class="large-4 columns">
      <div class = "card">
      <div class="panel text-center">
      <div class = "image">
            <img class="circle" src="../static/img/stiven.jpg" width="215" height="215">
      </div>
            <h3>Stiven Peter</h3>
            <p>Project Manager</p>
            <hr>
            <div class="medium-12 sm-centered lg-centered column">
            <p> Managing is key </p>
            <hr>
            <p>Skkrt Skkrt</p>
        </div>
      
  </div>
</div>

</div>
<div class="large-4 columns">
      <div class = "card">
      <div class="panel text-center">
      <div class = "image">
            <img class="circle" src="../static/img/olivia.jpg" width="200" height="200">
      </div>
            <h3>Olivia Gallager</h3>
            <p>Front-End/Matching</p>
            <hr>
            <div class="medium-12 sm-centered lg-centered column">
            <p> I'll help you find the one</p>
            <hr>
            <p>"SAVVV"</p>
        </div>
      
  </div>
</div>
</div>
<div class="medium-4 columns">
      <div class = "card">
      <div class="panel text-center">
      <div class = "image">
            <img class="circle" src="../static/img/shariar.jpg" width="213" height="213">
      </div>
            <h3>Shariar Kabir</h3>
            <p>APIs</p>
            <hr>
            <div class="medium-12 sm-centered lg-centered column">
            <p> Hit me up if you need some events...or Yeezys </p>
            <hr>
            <p>I like Halal</p>
        </div>
      
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="large-4 large-centered columns" ">
      <div class = "card">
      <div class="panel text-center">
      <div class = "image">
            <img class="circle" src="../static/img/lorenz.jpg" width="215" height="215">
      </div>
            <h3>Lorenz Vargas</h3>
            <p>Messages</p>
            <hr>
            <div class="medium-12 sm-centered lg-centered column">
            <p> Communication is key. So follow me on Twitch </p>
            <hr>
            <p>Life is a Big L </p>
        </div>
      
  </div>
</div>
</div>
</div>
{% endblock %}