{% extends "base.html" %}

{% block head %}
{{ super() }}
	<a href="/settings/"> Settings </a>
	 <a href="/logout/">Log Out</a>

{% endblock %}


{% block style %}
	.card {
		margin:auto;
		margin-top:2%;
		radius:10px 10px 10px 10px;
	}
	.card-divider {
		background:#4BA3C3;
		border:#4BA3C3;
	}
	.card-section{
		border:#4BA3C3;
	}
	.button{
		margin: 20px 10px 10px 10px;
		background:#BA324F;
	}
	img {
		border-radius: 100px;
	}
	h2 {
		font-size: 15px;
	}
{% endblock %}


{% block body %}


{% for event in eventList %}
<div class = "row">
	<div class= "card-section">
		<div class = "card">
			<h1 align="center"> {{event['name']}} </h1>
			<h2 align="center"> <a href={{event['url']}}> Check it Out! </a> </h2>
		</div>
	</div>
</div>

{% endfor %}

{% endblock %}