{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}


{% block style %}
	.card {
		margin:auto;
		margin-top:100px;
		radius:10px 100px 10px 10px;
	}
	.card-divider {
		background:#4BA3C3;
		border:#4BA3C3;
	}
	.card-section{
		border:#4BA3C3;
	}
	.button{
		margin: 20px 10px 10px 10px;
		background:#BA324F;
	}
  label {
        font-size:25px;
    }
  
{% endblock %}


{% block body %}
<div class="card" style="width: 70%;height: 70%;">
	<div class="card-divider"> 
  	<center> <b>
    	Basic Information
		</center> </b>
    {{message}}
  </div>
  <div class="card-section">
  <!-- name, lname, uname,pw, -->
    <form action="/form1/" method="POST">
  		<div class="row">
  			<div class="large-6 columns">
  				<label>
  					First Name
  					<input type="text" name="fName" placeholder="Ryan">
					</label>
				</div>
			  <div class="large-6 columns">
					<label>
  					Last Name
  					<input type="text" name="lName" placeholder="Gosling">
					</label>
  			</div>
  		</div>
  		<div class="row">
  			<label>
  				Username
  				<input type="text" name="userN" placeholder="RyGos123">
				</label>
  		</div>
  		<div class="row">
  			<label>
  				Password
  				<input type="password" name="pw" placeholder="Ryan">
				</label>
  		</div>
  		<div class="row">
  			<label>
  				Confirm Password
  				<input type="password" name="pw2" placeholder="Ryan">
				</label>
  		</div>
  		<center>
    		<button type="Submit" class="button"> Next </button>
    	</center> 			
  	</form>
  </div>
</div>


{% endblock %}