{% extends "base.html" %}
 

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
	.card {
		margin:auto;
		margin-top:170px;
		radius:10px 100px 10px 10px;
	}
	.card-divider {
		background:#4BA3C3;
		border:#4BA3C3;
	}
	.card-section{
		border:#4BA3C3;
	}
	.button{
		margin: 20px 10px 10px 10px;
		background:#BA324F;
	}
{% endblock %}

{% block body %}

<div class="card" style="width: 60%; height: 70%;">
  <div class="card-divider"> 
  	<center> <b>
      Log In or Register!
	  </center> </b>
  </div>
  <div class="card-section">
    <div align="center"> {{message}} </div>
    <form action = "/auth/" method="POST">
  		<div class="row">
    		<div class="medium-6 columns">
      		<label>Username
        		<input type="text" name="user" placeholder="oliviathepig">
      		</label>
    		</div>
    		<div class="medium-6 columns">
          <label> Password
            <div class="input-group">   
              <input class="input-group-field" name="pw" type="Password">
              <div class="input-group-button">
                <input type="submit" name="enter" class="button" value="Login">
              </div>
            </div>
          </label>
        </div>
       <input type="submit" name="enter" class="button" value="Register">
    	</div>
    </form>
    <center>
    </center>
  </div>
</div>

{% endblock %}