{% extends "base.html" %}

{% block head %}
{{ super() }}
	 <a href="/settings/"> Settings  </a>
	 <a href="/logout/">Log Out</a>

{% endblock %}


{% block style %}
	.card {
		margin:auto;
		margin-top:5%;
		font-size:25px;
		margin-left:3%;
		radius:10px 10px 10px 10px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	.card-divider {
		background:#4BA3C3;
		border:#4BA3C3;

	}
	.card-section{
		border:#4BA3C3;
	}
	.button{
		background:#BA324F;
	}
	img {
		border-radius: 100px;
	}
	.profile-card img {
    	width: 8rem;
    	display: block;
    	margin: 0rem auto;
    	text-align: center;
    	border-radius: 50%;
    	box-shadow: 2px 2px 5px #888888; 
  	}
{% endblock %}


{% block body %}

<h1 align="center">{{ message }}</h1>



{% for person in matchInfo %}
	<div class = "row">
	<div class= "card-section">
	<div class = "card">
	<h1 align="center"> {{matchInfo[person][0]}} </h1>
	<div class  = "large-3 columns">
	<div class= "profile-card"> 
		<img src= " {{ matchInfo[person][-1] }} ">
	</div>

	</div>
	<div class = "medium-9 columns">
	<div class = "row">
	<div class = "medium-5 columns">
		<span>{{ matchInfo[person][1]}} {{matchInfo[person][2]}}</span>
	</div>
	<div class = "medium-6 columns margin-left">
		<span> {{ matchInfo[person][3]}} {{ matchInfo[person][5]}}</span>
	</div>
	</div>
	<div class = "row">
	<div class="medium-5 columns">
		<span>Interests: {{ ",".join(matchInfo[person][6]) }}</span>
	</div>
	<div class= "medium-6 columns">
	<span>Biggest Thing {{matchInfo[person][0]}} is looking for : {{ matchInfo[person][4]}}</span>
	</div>
	</div>
	<div class = "row">
	<div class = "medium-5 columns">
		<span> Hobbies: {{ ",".join(matchInfo[person][7]) }} </span>
	</div>
	<div class = "medium-6 columns">
	<span>Job:{{ matchInfo[person][8]}} </span>
	</div>
	</div>
	</div>


	<div class = "row" align="center">
	<div class= "12-large columns">
	<form action = "/makemessage/" method="GET">
	<button type="submit" name="enter" class="button" value="{{person}}"> <h1>Message </h1></button>
	</form>
	</div>
	</div>


	</div>
	</div>
	</div>
	</div>
{% endfor %}


{% endblock %}3