{% extends "base.html" %}

{% block head %}
{{ super() }}
	<a href="/settings/"> Settings </a>
	 <a href="/logout/">Log Out</a>

{% endblock %}


{% block style %}
	.card {
		margin:auto;
		margin-top:13%;
		radius:10px 10px 10px 10px;
	}
	.card-divider {
		background:#4BA3C3;
		border:#4BA3C3;
	}
	.card-section{
		border:#4BA3C3;
	}
	.button{
		margin: 20px 10px 10px 10px;
		background:#BA324F;
	}
{% endblock %}


{% block body %}
<div align="center" class="card" style="width: 40%; height: 70%;">
<form action="/profilepic/" method="POST" enctype="multipart/form-data">
<div class="card-divider"> 
  	<center> <b>
      Upload A Profile Picture!
	  </center> </b>
  </div>
<div>
<label for="exampleFileUpload" class="button">Upload File</label>
<input type="file" id="exampleFileUpload"  name="upload" class="show-for-sr">
</div>
<button type="Submit" class="button"> Submit </button>
</form>
</div>


{% endblock %}